.bloc_contact
{
    margin: 50px;
    background-color: #0E1136;
    border-radius: 20px;
    padding: 15px;
}

.bloc_contact .bloc_left
{
    color: #fff;
}

.bloc_contact .bloc_left ul
{
    list-style: none;
    margin-inline-start: 0;
    padding-inline-start: 0;
}

.bloc_contact .bloc_left ul li
{
    margin: 5px 0 10px;
}